<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock title %} - V2Ray Panel</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/tether.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/controller.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/tether.min.css" />
    <link rel="stylesheet" href="/static/css/app.css" />
</head>

<body>
    {% block body %}{% endblock body %}
</body>

</html>
