{% extends "base.html" %}

{% block title %}Console{% endblock title %}

{% block body %}
<div class="container">
    <nav class="navbar fixed-top navbar-light bg-faded">
        <a class="navbar-brand" href="#">V2Ray Panel</a>
    </nav>
    <div class="main-content" style="padding-top: 80px">
        <div class="card">
            <div class="card-block">
                <h3>欢迎，{{ username }}。</h3>
                <ul>
                    <li>用户 ID: {{ user_id }}</li>
                    <li>总流量: <span class="traffic-data">{{ total_traffic }}</span></li>
                    <li>已用流量: <span class="traffic-data">{{ used_traffic }}</span></li>
                </ul>
                <form action="/logout" method="POST">
                    <input type="submit" class="btn btn-danger" value="登出" />
                </form>
            </div>
        </div>
    </div>
</div>
<script>format_all_traffic_data();</script>
{% endblock body %}
