{% extends "console_base.html" %}

{% block main %}
<h3>欢迎，{{ username }}。</h3>
<ul>
    <li>用户 ID: {{ user_id }}</li>
    <li>总流量: <span class="traffic-data">{{ total_traffic }}</span></li>
    <li>已用流量: <span class="traffic-data">{{ used_traffic }}</span></li>
</ul>
<form action="/user/console/vmess/generate_id" method="POST">
    <input type="submit" class="btn btn-danger" value="重置 VMess ID" />
</form>
<br />
<form action="/logout" method="POST">
    <input type="submit" class="btn btn-danger" value="登出" />
</form>
<script>format_all_traffic_data();</script>
{% endblock main %}
