{% extends "admin_base.html" %}

{% block main %}
<h3>节点</h3>
<table class="table">
    <thead>
        <tr>
            <th>名称</th>
            <th>Key</th>
        </tr>
    </thead>
    <tbody>
        {% for node in nodes %}
        <tr>
            <td>{{ node.name }}</td>
            <td>{{ node.key }}</td>
            <td><a href="/admin/nodes/remove/confirm/{{ node.key }}">移除</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <h5>创建节点</h5>
    <form action="/admin/nodes/create" method="POST">
        <input type="text" class="form-control" name="name" placeholder="名称" /><br />
        <input type="submit" value="创建" class="btn btn-primary" />
    </form>
</div>
<br />
<div>
    <h5>数据同步</h5>
    <form action="/admin/nodes/sync_traffic" method="POST">
        <input type="submit" class="btn btn-primary" value="同步流量统计数据" />
    </form>
</div>
{% endblock main %}
