{% extends "admin_base.html" %}

{% block main %}
<h3>用户</h3>
<table class="table">
    <thead>
        <tr>
            <th>用户名</th>
            <th>总流量</th>
            <th>已用流量</th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
        <tr>
            <td>{{ u.name }}</td>
            <td class="traffic-data">{{ u.total_traffic }}</td>
            <td class="traffic-data">{{ u.used_traffic }}</td>
            <td><a href="/admin/users/{{ u.id }}">设置</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>format_all_traffic_data();</script>
{% endblock main %}
